@font-face {
  font-family: 'IBMPlexSans';
  src: url(../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf)
    format('truetype');
}

@font-face {
  font-family: 'IBMPlexSansBold';
  font-weight: bold;
  src: url(../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf)
    format('truetype');
}
